<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Port Number -->
    <add key="port" value="8" />
    <!-- Welcome Page -->
    <add key="welcomePageDIR" value="C:\Users\ali\Desktop\fajr\pics" />
    <add key="welcomePageDELAY" value="2" />
    <!-- HISCode Page -->
    <add key="HISCodefontSize" value="70" />
    <add key="HISCodefontOperator" value="B Nazanin" />
    <add key="HISCodebackground" value="C:\Users\ali\Desktop\fajr\HISCode.jpg" />
    <!-- Confirm Page -->
    <add key="ConfirmfontSize" value="30" />
    <add key="ConfirmfontOperator" value="B Nazanin" />
    <add key="Confirmbackground" value="C:\Users\ali\Desktop\fajr\confirm.jpg" />
    <!-- Payment Page -->
    <add key="PaymentfontSize" value="30" />
    <add key="PaymentfontOperator" value="B Nazanin" />
    <add key="Paymentbackground" value="C:\Users\ali\Desktop\fajr\paymentA/A.MR^20051006.jpg" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MobileServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MobileServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://nafisswitch.fanavacard.com:8443/nafis-web-4/services/mobile" binding="basicHttpBinding" bindingConfiguration="MobileServicePortBinding" contract="FanAvaServices_Mobile.ISoapMobile" name="MobileServicePort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>